#ttHomeCardEffectiveBattleStats .stats-row .divider span {
	background-color: transparent !important;
}

body:not(.tt-mobile) #ttHomeCardEffectiveBattleStats .stats-row .desc {
	width: 184px !important;
}

body.tt-mobile #ttHomeCardEffectiveBattleStats .stats-row .desc {
	width: 180px !important;
}

#ttHomeCardEffectiveBattleStats .stats-row .desc span {
	padding-left: 3px !important;
}
