#ttHomeCardLiveNetworth .tt-live-networth-title-value {
	margin-left: 6px;
	font-size: 13px;
	font-weight: 700;
	color: #d7f7a0;
	white-space: nowrap;
}

#ttHomeCardLiveNetworth .tt-live-networth-title-value .networth-info-icon {
	margin-left: 6px;
}

#ttHomeCardLiveNetworth .comparison {
	padding: 0 !important;
}

#ttHomeCardLiveNetworth table {
	width: 100%;
}

#ttHomeCardLiveNetworth table tr > * {
	text-align: center;
	padding: 2px 0;
	color: var(--default-font-color);
}

#ttHomeCardLiveNetworth table th {
	font-weight: bold;
}

#ttHomeCardLiveNetworth table .positive {
	color: var(--tt-color-green);
}

#ttHomeCardLiveNetworth table .negative {
	color: var(--tt-color-red);
}

#ttHomeCardLiveNetworth .tt-networth-footer {
	font-size: 10px;
	line-height: 14px;
	padding: 4px 8px 6px;
	text-align: center;
}
